<!DOCTYPE html>
<html>
    <head>
      <title> "My Week" 
      </title>
      <script src="http://code.jquery.com/jquery-2.0.1.min.js">
      </script>
      <style>
        body { width: 1000px; margin: 20px auto;}
      </style>
    </head>
 <body>
     <ul style="list-style-type: none; display: inline-block;">
         <li style="list-style-type: none;" id="DAY_NAME"> Constant Data <%=@idle_burn%> | <%=@fasting_fuelage%> | <%=@lean_fuelage%> 
         </li>
         <% 3.times do |cal|%>
         <li style="list-style-type: none;" id="DAY_NAME">
           <%= text_field_tag(@static_calories_symbols[cal], @static_calories_instances_hash[@static_calories_instances[cal]], maxlength: "4", size: 3, onclick: "this.select()")%> <%=@static_calories_placeholders[cal]%>
         </li>
         <%end%>
      <ul>
      </ul>
  <% 7.times do |day|%>
      <ul style="list-style-type: none; display: inline-block;">
        <li style="list-style-type: none;" id="DAY_NAME" name="<%=@week[day]%>">
           <%= @week[day] %>
           </li>
           <% 10.times do |meal| %>  
         <li style="list-style-type: none;">
           <%= text_field_tag(@meal[meal], dayfinder(@week[day]).meal1, placeholder: "Meal", onfocus: "this.placeholder = ''", onblur: "this.placeholder = 'Meal'", maxlength: "4", size: 3, onclick: "this.select()")%>
           <%= hidden_field_tag :weekday_name, @week[day] %>     
        </li>
         <% end %>
        <li>
          <%=day_total(@week[day])%>
        </li>
        <li>
          Excess Burn
        </li>
        <li>
          Fasting Excess
        </li>
        <li>
          Lean Excess
        </li>
      </ul>
  <% end %>
  </body>
  <script>
     $('#IDLE_BURN, #FASTING_FUELAGE, #LEAN_FUELAGE').change(function() {
       var idle = $('#IDLE_BURN').val();
       var fast = $('#FASTING_FUELAGE').val();
       var lean = $('#LEAN_FUELAGE').val();
       console.log( $('#IDLE_BURN').val());
       $.ajax({url: '/my_week', type: 'POST', data: {"IDLE_BURN": idle, "FASTING_FUELAGE": fast, "LEAN_FUELAGE": lean}});
      });

  </script>
 </html>